.section--quiz {
  padding-top: rem(140);

  .fp-slides {
    @include media-breakpoint-up(md) {
      height: 100% !important;
    }
  }
}

.quiz-container {
  margin-bottom: 2.5rem;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-bottom: 2.25rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: .5rem;
  }
}

.quiz-title {
  margin-bottom: .875rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 2.25rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: .875rem;
  }
}

.quiz-text {
  @include media-breakpoint-between(md, xl) {
    font-size: .75rem;
  }
}

.quiz-links {
  @include media-breakpoint-up(md) {
    align-items: flex-end;
    display: flex;
  }
}

.quiz-links-item {
  &:not(:first-child) {
    @include media-breakpoint-down(md) {
      margin-top: rem(36);
    }

    @include media-breakpoint-up(md) {
      margin-left: rem(48);
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: .75rem;
    text-transform: uppercase;
  }

  &__label {
    display: flex;
    font-size: .75rem;
    line-height: 1.4;
    margin-bottom: rem(12);

    .icon-arrow-down {
      margin-right: .5em;
    }
  }

  &__buttons {
    @include media-breakpoint-up(md) {
      display: flex;
    }

    div {
      &:not(:first-child) {
        @include media-breakpoint-down(md) {
          margin-top: rem(12);
        }

        @include media-breakpoint-up(md) {
          margin-left: rem(12);
        }
      }
    }
  }
}

.quiz-image {
  margin: 0;
  max-width: none;
  padding: 0;
  position: relative;
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-bottom: rem(24);
    margin-top: rem(32);
  }

  img {
    height: auto;
    max-width: 100%;
    @include transition(opacity .35s ease);

    @include media-breakpoint-up(md) {
      left: rem(10);
      position: absolute;
      top: 0;
      width: rem(320);
    }

    @include media-breakpoint-up(lg) {
      left: rem(20);
      top: rem(-135);
      width: rem(470);
    }

    @include media-breakpoint-up(xl) {
      width: rem(542);
    }

    &:not(.lazyloaded) {
      opacity: 0;
    }
  }
}

.page-quiz {
  .section--quiz {
    padding-bottom: rem(40);
    padding-top: rem(40);

    @include media-breakpoint-up(md) {
      padding-bottom: rem(70);
      padding-top: rem(70);
    }
  }

  .quizz-progress {
    .progress {
      @include media-breakpoint-down(md) {
        height: rem(270);
        width: rem(270);
      }
    }
  }

  &.page-quiz-process {
    .quizz-progress-wrapper {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
