section.section.section--whois.fp-auto-height-responsive(data-anchor="whois")
  .container
    .whois-container.row
      .col-md-9.col-lg-6
        .whois-main
          h2.section-title.whois-title Кто такие #[span ТОЖ]ники?
          .section-text.whois-text
            p ТОЖники&nbsp;&mdash; это&nbsp;те, кто умеют смешивать пользу творога и&nbsp;удовольствие от&nbsp;еды в&nbsp;одной тарелке, добавлять капельку кухонной аэробики и&nbsp;подавать всё это к&nbsp;столу!
            p Хочешь стать ТОЖником?#[br]Записывай, что тебе для этого понадобится:
      .col-lg-6
        .whois-image-wrapper
          .whois-image
            picture
              source(data-srcset="i/whois/whois-image.avif, i/whois/whois-image@2x.avif 2x" media="(min-width: 744px)" type="image/avif")
              source(data-srcset="i/whois/whois-image.webp, i/whois/whois-image@2x.webp 2x" media="(min-width: 744px)" type="image/webp")
              source(data-srcset="i/whois/whois-image.png, i/whois/whois-image@2x.png 2x" media="(min-width: 744px)" type="image/png")
              source(data-srcset="i/whois/whois-image-sm.avif, i/whois/whois-image-sm@2x.avif 2x" type="image/avif")
              source(data-srcset="i/whois/whois-image-sm.webp, i/whois/whois-image-sm@2x.webp 2x" type="image/webp")
              source(data-srcset="i/whois/whois-image-sm.png, i/whois/whois-image-sm@2x.png 2x" type="image/png")
              img.lazyload(data-src="i/whois/whois-image.png" width="536" height="488" alt="" loading="lazy")
            .whois-image__tip.whois-image__tip--1 Хорошее настроение
            .whois-image__tip.whois-image__tip--2 Спорт в&nbsp;удовольствие
            .whois-image__tip.whois-image__tip--3 Творог «Искренне Ваш»
