section.section.section--rulles.fp-auto-height-responsive(data-anchor="rulles")
  .container
    .row
      .col-md-6
        h2.section-title.rulles-title ЧЕЛЛЕНДЖ #[br] #[span #ТВОРОБИКА]
    .rulles-container.row
      .col-md-6.col-lg-8
        .rulles-main
          h6.rulles-subtitle ПРАВИЛА ЧЕЛЛЕНДЖА
          .section-text.rulles-text.row 
            .col-md-12.col-lg-6
              ul
                li #[span Сними на&nbsp;видео, как ты занимаешься ТОЖной аэробикой на&nbsp;кухне.]  В&nbsp;качестве спортивного атрибута используй пачку любого творога &laquo;Искренне Ваш&raquo;
                li.green Выкладывай видео к&nbsp;себе на&nbsp;стену ВКонтакте 
                li #[span Зарегистрируй свой пост в&nbsp;нашем чат-боте @iskrenne_vash_bot.] #[br] Для этого пришли ссылку на&nbsp;пост в&nbsp;чат-бот и&nbsp;выигрывай призы. 
                li.d-lg-none Не&nbsp;забудь добавить хэштеги: #[br] #творобика #творожныйобразжизни
                li.d-lg-none  Твой профиль должен быть открыт, #[br] иначе мы&nbsp;не&nbsp;сможем увидеть пост :(
            .rulles-links.col-md-12.col-lg-6
              .rulles-links-item
                p.d-none.d-lg-block Не&nbsp;забудь добавить хэштеги: #[br] #творобика #творожныйобразжизни 
                p.d-none.d-lg-block Твой профиль должен быть открыт, #[br] иначе мы&nbsp;не&nbsp;сможем увидеть пост :(
                .rulles-links-item__title.text-nowrap ПЕРЕХОДИ В ЧАТ-БОТ
                .rulles-links-item__label
                  +icon("arrow-down")(width="11" height="16")
                  span Выбери удобный мессенджер
                .rulles-links-item__buttons
                  div
                    a.btn.btn-secondary.btn-iconed(href="#" target="_blank")
                      span Telegram
                      +icon("telegram-sm")(width="17" height="14")
                  div
                    a.btn.btn-secondary.btn-iconed(href="#" target="_blank")
                      span ВКОНТАКТЕ
                      +icon("vk-sm")(width="17" height="12")    
      .col-md-6.col-lg-4
        .rulles-image
          picture 
            source(data-srcset="i/rulles/rulles-image.webp, i/rulles/rulles-image@2x.webp 2x" type="image/webp")
            source(data-srcset="i/rulles/rulles-image.png, i/rulles/rulles-image@2x.png 2x" type="image/png")
            img.lazyload(data-src="i/rulles/rulles-image.png" width="542" height="565" alt="" loading="lazy")

