//- section.section.section--challange(data-anchor="challange")
//-   .container
//-     .challange-container.row
//-       .col-md-9.col-lg-6
//-         .challange-main
//-           h2.section-title.challange-title Челендж #[br] #[span #ТВОРОБИКА]
//-           .section-text.challange-text
//-             p Прими участие в&nbsp;нашем челлендже #ТВОРОБИКА #[br] в&nbsp;VK, чтобы участвовать в&nbsp;розыгрыше #[br] Яндекс.Станций Мини и&nbsp;беспроводных наушнико
//-             p Тем более, что нужно просто записать на&nbsp;видео, #[br] как ты&nbsp;занимаешься кухонной аэробикой #[br] с&nbsp;творогом &laquo;Искренне Ваш&raquo;&quot; и&nbsp;зарегистрировать #[br] свой пост в&nbsp;нашем чат-боте @iskrenne_vash_bot, #[br] чтобы выиграть ценные призы!
//-             p Ты&nbsp;с&nbsp;нами? 
//-       .challange-image
//-            picture
//-               source(data-srcset="i/challange/challange-image.webp, i/challange/challange-image@2x.webp 2x" media="(min-width: 744px)" type="image/webp")
//-               source(data-srcset="i/challange/challange-image.png, i/challange/challange-image@2x.png 2x" media="(min-width: 744px)" type="image/png")
//-               source(data-srcset="i/challange/challange-image-sm.webp, i/challange/challange-image-sm@2x.webp 2x" type="image/webp")
//-               source(data-srcset="i/challange/challange-image-sm.png, i/challange/challange-image-sm@2x.png 2x" type="image/png")
//-               img.lazyload(data-src="i/challange/challange-image.png"   alt="" loading="lazy")
         
section.section.section--challange.fp-auto-height-responsive(data-anchor="challange")
  .container
    .challange-container.row
      .challange-image
           picture
              source(data-srcset="i/challange/challange-image.webp, i/challange/challange-image@2x.webp 2x" media="(min-width: 766px)" type="image/webp")
              source(data-srcset="i/challange/challange-image.png, i/challange/challange-image@2x.png 2x" media="(min-width: 766px)" type="image/png")
              source(data-srcset="i/challange/challange-image-sm.webp, i/challange/challange-image-sm@2x.webp 2x" type="image/webp")
              source(data-srcset="i/challange/challange-image-sm.png, i/challange/challange-image-sm@2x.png 2x" type="image/png")
              img.lazyload(data-src="i/challange/challange-image.png"   alt="" loading="lazy")
      .col-md-6.offset-md-6
        .challange-main
          h2.section-title.challange-title Челендж #[br] #[span #ТВОРОБИКА]
          .section-text.challange-text
            p Прими участие в&nbsp;нашем челлендже #ТВОРОБИКА #[br] в&nbsp;VK, чтобы участвовать в&nbsp;розыгрыше #[br] Яндекс.Станций Мини и&nbsp;беспроводных наушнико
            p Тем более, что нужно просто записать на&nbsp;видео, #[br] как ты&nbsp;занимаешься кухонной аэробикой #[br] с&nbsp;творогом &laquo;Искренне Ваш&raquo;&quot; и&nbsp;зарегистрировать #[br] свой пост в&nbsp;нашем чат-боте @iskrenne_vash_bot, #[br] чтобы выиграть ценные призы!
            p Ты&nbsp;с&nbsp;нами? 