section.section.section--more.fp-auto-height-responsive(data-anchor="more")
  .container
    .more-container
      h2.section-title.more-title Ещё больше #[span ТОЖ]а
      .more-main.row
        .col-md-4
          .more-item
            h3.more-item__title #[span ТОЖ]ное питание
            .more-item__text.section-text
              p Вкусное и&nbsp;сбалансированное питание&nbsp;&mdash; главный спутник ТОЖа. Очень важно помнить о&nbsp;количестве полезных микроэлементов в&nbsp;вашем организме, например, кальция и&nbsp;белка.
              p Найти их&nbsp;можно в&nbsp;твороге &laquo;Искренне Ваш&raquo; и&nbsp;в&nbsp;разнообразных блюдах, которые можно из&nbsp;него приготовить.
              p Включай фантазию и&nbsp;твори ТОЖную вкуснотищу!
            .more-item__button
              button.btn.btn-secondary(type="button" data-scrollto="wheel") Попробовать ТОЖ на вкус
        .col-md-4
          .more-item
            h3.more-item__title #[span ТОЖ]ный спорт
            .more-item__text.section-text
              p Спорт&nbsp;&mdash; это трудно? Кажется, ты&nbsp;занимаешься не&nbsp;тем спортом.
              p ТОЖный спорт&nbsp;&mdash; это лёгкие и&nbsp;позитивные тренировки, которые можно выполнять где угодно: дома, в&nbsp;офисе или даже на&nbsp;кухне!
              p Хочешь попробовать?
              p Используй все пачки творога #[span.text-nowrap &laquo;Искренне Ваш&raquo;], чтобы повысить нагрузку!
            .more-item__button
              button.btn.btn-secondary(type="button" data-scrollto="move") Заняться активным ТОЖем
        .col-md-4
          .more-item
            h3.more-item__title #[span ТОЖ]ное настроение
            .more-item__text.section-text
              p Что это у&nbsp;нас с&nbsp;настроением?
              p Оу, видим что ты&nbsp;в&nbsp;хорошем расположении духа! Конечно, ведь ТОЖ&nbsp;&mdash; это лёгкость и&nbsp;позитив, которые можно найти в&nbsp;ежедневных занятиях.
              p Готовь вкусные блюда, занимайся аэробикой под любимые песни и&nbsp;получай удовольствие от&nbsp;жизни! А&nbsp;мы&nbsp;тебя ТОЖе поддержим!
            .more-item__button
              button.btn.btn-secondary(type="button" data-scrollto="move") Создать ТОЖное настроение
