section.section.section--alice.fp-auto-height-responsive(data-anchor="alice")
  .container
    .alice-container.row
      .alice-image
        picture
          source(data-srcset="i/alice/alice-image.webp, i/alice/alice-image@2x.webp 2x" media="(min-width: 766px)" type="image/webp")
          source(data-srcset="i/alice/alice-image.png, i/alice/alice-image@2x.png 2x" media="(min-width: 766px)" type="image/png")
          source(data-srcset="i/alice/alice-image-sm.webp, i/alice/alice-image-sm@2x.webp 2x" type="image/webp")
          source(data-srcset="i/alice/alice-image-sm.png, i/alice/alice-image-sm@2x.png 2x" type="image/png")
          img.lazyload(data-src="i/alice/alice-image.png" alt="" loading="lazy")
      .col-lg-6.d-none.d-lg-block 
      h2.section-title.alice-title.col-lg-6.col-md-12 АЛИСА, ЗАПУСТИ НАВЫК #[br] #[span «ИСКРЕННЕ ВАШ»]    
      .col-md-6.offset-md-6
        .alice-main 
          .section-text.alice-text
            p А&nbsp;почему ты&nbsp;еще не&nbsp;занимаешься кухонной аэробикой?
            p Ааа, тебе не&nbsp;слышно нашу песню &laquo;ТОЖ, ТОЖ, ТОЖ&raquo;...
            p Не&nbsp;волнуйся, это поправимо! #[br]  Ты&nbsp;можешь включить ее&nbsp;через Яндекс Станцию с&nbsp;Алисой!
            p Просто скажи: #[br]  &laquo;Алиса, запусти навык &laquo;Искренне ваш&raquo;!
            p Бери пачку творога «Искренне Ваш» в руки, #[br]  включай музыку и начинай заниматься творобикой #[br]  на кухне, например, в процессе готовки!