section.section.section--about.fp-auto-height-responsive(data-anchor="about")
  .container
    .about-container.row
      .about-image
        picture
          source(data-srcset="i/about/about-image.avif, i/about/about-image@2x.avif 2x" media="(min-width: 744px)" type="image/avif")
          source(data-srcset="i/about/about-image.webp, i/about/about-image@2x.webp 2x" media="(min-width: 744px)" type="image/webp")
          source(data-srcset="i/about/about-image.png, i/about/about-image@2x.png 2x" media="(min-width: 744px)" type="image/png")
          source(data-srcset="i/about/about-image-sm.avif, i/about/about-image-sm@2x.avif 2x" type="image/avif")
          source(data-srcset="i/about/about-image-sm.webp, i/about/about-image-sm@2x.webp 2x" type="image/webp")
          source(data-srcset="i/about/about-image-sm.png, i/about/about-image-sm@2x.png 2x" type="image/png")
          img.lazyload(data-src="i/about/about-image.png" width="968" height="868" alt="" loading="lazy")
      .col-md-6.offset-md-6
        .about-main
          h2.section-title.about-title Что такое ТОЖ?
          .section-text.about-text
            p Творожный Образ Жизни (ТОЖ)&nbsp;&mdash; тот самый стиль жизни, который ты&nbsp;давно ищешь!
            p В&nbsp;нём сочетается всё, что мы&nbsp;так любим: вкусная еда, полезный творог &laquo;Искренне Ваш&raquo;, любимый спорт и&nbsp;хорошее настроение!
            p Главное правило ТОЖа: никаких ограничений&nbsp;&mdash; удовольствие и&nbsp;только
