footer.section.section--footer.fp-auto-height(data-anchor="contacts")
  include ../marquee/marquee
  .container
    .footer-container
      .footer-main
        .footer-contacts
          p Почта для обратной связи #[a.text-uppercase(href="#") mail@mail.ru]
          p Горячая линия службы качества#[br.d-lg-none] #[a.text-nowrap(href="tel:88007700774") 8 800 770-07-74]
      .footer-side
        ul.footer-socials
          li.footer-socials-item
            a(href="#" title="ВКонтакте" aria-label="ВКонтакте" target="_blank")
              img(src="i/icon-vk.svg" role="img" width="64" height="64" alt="VK")
