block variables

doctype html
|
|
<html lang="ru">
head
  meta(charset="utf-8")
  title #{title}

  meta(name="theme-color" content="#fff")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content="Творожный Образ Жизни")
  meta(name="format-detection" content="telephone=no")

  link(rel="icon" href="favicon.ico")
  link(rel="icon" href="favicon.svg" type="image/svg+xml")
  link(rel="apple-touch-icon" href="apple-touch-icon.png")
  link(rel="manifest" href="site.webmanifest")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(rel="preload" href="/fonts/bebasneue-regular-webfont.woff2" crossorigin as="font" type="font/woff2")
  link(rel="preload" href="/fonts/bebasneue-bold-webfont.woff2" crossorigin as="font" type="font/woff2")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap")
  link(rel="stylesheet" href="css/main.css")
body.page-quiz
  main.main#fullpage
    block content
  block scripts
  script.
    window.addEventListener('DOMContentLoaded', function() {
      window.Quiz.init()
    })
|
|
</html>
